
@{
    ViewBag.Title = "Mylearning";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}

<div class="container" style="margin-top:170px; height:700px;">
    <div id="frame_st">
        <div class="row" id="lerning-vedios">

        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/jquery-3.6.0.js"></script>
<script src="~/Scripts/View/Common/Common.js"></script>
<script src="~/Scripts/View/Users/learning.js"></script>
