
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150382923-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-150382923-1');
    </script>
</head>

<style>
    header a.logo img {
        max-height: 70px;
    }
</style>

<section class="wow fadeIn cover-background background-position-top top-space" style="background-image:url('/images/Contact/download.jpg');">
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 page-title-large d-flex flex-column justify-content-center align-items-center text-center padding-30px-tb">
                <!-- start sub title -->
                <span class="d-block text-white-2 opacity6 width-45 md-width-100 alt-font margin-10px-bottom">Frequently asked questions</span>
                <!-- end sub title -->
                <!-- start page title -->
                <h1 class="alt-font text-white-2 font-weight-600 mb-0">FAQs</h1>
                <!-- end page title -->
            </div>
        </div>
    </div>
</section>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h6 class="text-uppercase alt-font text-extra-dark-gray font-weight-600 margin-four-bottom">General Questions</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- start accordion -->
            <div class="panel-group accordion-style1" id="accordion-one">
                <!-- start accordion item -->
                <div class="panel">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link1" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right"> What is the deployment mode of the application ?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                    </div>
                    <div id="accordion-one-link1" data-parent="#accordion-one" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Application can be deployed in both On-Cloud and On-Premise model. ZServiceDesk+ can provide the cloud instance, in which management of the cloud instance shall be done by us. Customer can also their cloud instance to deploy our application. </p>
                        </div>
                    </div>
                </div>
                <!-- end accordion item -->
                <!-- start accordion item -->
                <div class="panel">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link2" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">What is the licensing model?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                    </div>
                    <div id="accordion-one-link2" data-parent="#accordion-one" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Application is available in both Subscription & Perpetual licencing model. However perpetual is applicable only for the On-Premise and Customer's cloud instance. </p>
                        </div>
                    </div>
                </div>
                <!-- end accordion item -->
                <!-- start accordion item -->
                <div class="panel">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link3" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">What is the structure of pricing ?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                    </div>
                    <div id="accordion-one-link3" data-parent="#accordion-one" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Our pricing has below BOQ components, and pricing shall vary as per the no. of licenses </p>
                            <ul>
                                <li>ZServiceDesk+ Base Platform</li>
                                <li>No. of Technicians</li>
                                <li>No. of Laptop/Desktops </li>
                                <li> No. of Assets/Peripherals for life-Cycle  </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end accordion item -->
                <!-- start accordion item -->
                <div class="panel">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link4" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">How can i receive the prices ?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                    </div>
                    <div id="accordion-one-link4" data-parent="#accordion-one" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                You have to send mail to sales@zservicedesk.com  to receive the prices. Within 24 Hrs. our sales representative shall contact you and send you prices.                                    .
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end accordion item -->
                <!-- start accordion item -->
                <div class="panel">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link5" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">  How can i see the product demo ?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                    </div>
                    <div id="accordion-one-link5" data-parent="#accordion-one" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>You have to send mail to  sales@zservicedesk.com . Within 24 Hrs. our sales representative shall contact you  to understand you current environment and to schedule a demo as per your convenience. </p>
                        </div>
                    </div>
                </div>
                <!-- end accordion item -->
                <!-- start accordion item -->
                <div class="panel">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link5" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right"> How long does it take for deployment  Do you comply the ITIL based processes ?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                    </div>
                    <div id="accordion-one-link6" data-parent="#accordion-one" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Yes, Our process workflow are developed as per ITIL Framework. However we have also incorporated features as per actual services management requirement, which may not be mentioned in ITIL. </p>
                        </div>
                    </div>
                </div>
                <!-- end accordion item -->
                <!-- start accordion item -->
                <div class="panel">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link5" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right"> How long does it take for deployment ?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                    </div>
                    <div id="accordion-one-link7" data-parent="#accordion-one" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Usually it take 3-4 weeks for full deployment, however deployment timelines vary depending on the size and requirement of the organisation. </p>
                        </div>
                    </div>
                </div>
                <!-- end accordion item -->
                <!-- start accordion item -->
                <div class="panel">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link5" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right"> Do you comply the ISO 20000 standards ?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                    </div>
                    <div id="accordion-one-link8" data-parent="#accordion-one" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Yes, if your organisation want to do ISO 20000 certification. We ensure that all our processes are aligned as per your audit requirements. </p>
                        </div>
                    </div>
                </div>
                <!-- end accordion item -->
                <!-- start accordion item -->
                <div class="panel">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link5" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">  What if i need some customisation in application as per our requirement ?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                    </div>
                    <div id="accordion-one-link9" data-parent="#accordion-one" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p> Yes, we also provide on-demand customisation. We don't charge you for any minor customisation, however if major changes are required in application, our developers can discuss with you and customise the product at very minimal additional cost. </p>
                        </div>
                    </div>
                </div>
                <!-- end accordion item -->
                <!-- start accordion item -->
                <div class="panel">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link5" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right"> What kind of technical support do you provide ?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                    </div>
                    <div id="accordion-one-link10" data-parent="#accordion-one" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p> We do provide 24x7 support services over email with response time of 4 Hrs. You can also log in and raise support ticket via our portal. </p>
                        </div>
                    </div>
                </div>
                <!-- end accordion item -->
                <!-- start accordion item -->
                <div class="panel">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link5" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">  How product setup & configuration will be done ?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                    </div>
                    <div id="accordion-one-link11" data-parent="#accordion-one" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Usually it take 3-4 weeks for full deployment, however deployment timelines vary depending on the size and requirement of the organisation. </p>
                        </div>
                    </div>
                </div>
                <!-- end accordion item -->
                <!-- start accordion item -->
                <div class="panel">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link5" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">  What are the advantages of buying ZServiceDesk+ over other ITSM tools ?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                    </div>
                    <div id="accordion-one-link12" data-parent="#accordion-one" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p> Our team owns the responsibility to setup & configure the product as per your business requirement. Our team shall also provide the appropriate training on how to administer and configure the tool. </p>
                        </div>
                    </div>
                </div>
                <!-- end accordion item -->
                <!-- start accordion item -->
                <div class="panel">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link5" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right"> How long does it take for deployment ?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                    </div>
                    <div id="accordion-one-link13" data-parent="#accordion-one" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p> Below are the key benefits for you, if you choose our ITSM tool to manage your IT services. </p>
                        </div>
                    </div>
                </div>
                <!-- end accordion item -->
            </div>
        </div>
    </div>
</div>

<section class="wow fadeIn bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h6 class="text-uppercase alt-font text-extra-dark-gray font-weight-600 margin-four-bottom">Enterprise Service Desk</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- start accordion -->
                <div class="panel-group accordion-style1" id="accordion-two">
                    <!-- accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link1" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">What are all features i will get in Enterprise Service Desk ?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-two-link1" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>You will get full access to all below modules </p>
                                <ul class="line-height-35">
                                    <li> Incident, Service Request, Change & Problem Management</li>
                                    <li>SLA & Feedback Management</li>
                                    <li>Suppliers & Contracts Management</li>
                                    <li>Tasks Management</li>
                                    <li>Preventive Maintenance</li>
                                    <li>Escalations </li>
                                    <li>Knowledge Base</li>
                                    <li>Email & SMS Notifications</li>
                                    <li>Dashboards & Reports</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link2" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right"> I have multiple business units & multiple locations, can i use the same tool ?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-two-link2" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    Yes, you can use the same tool for all business units and all locations.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link3" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right"> Users can log the tickets via user portal, Mobile Application or Chat BOT.<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-two-link3" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p> Users can ask anything in Chat BOT, mention the problem they are facing. Chat BOT can reply to your queries with pre-defined answers, Log the ticket on your behalf and guide you through the solution or download/run the solution which is available in the knowledge base..</p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link4" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right"> Can i provide the remote support via your application?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-two-link4" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p> Yes, you can provide remote desktop support on windows PCs if PCs are connected within LAN. We don't support Remote Desktop over internet. </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link5" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right"> I have different working hours at each of my office location, will this application be able to track the SLA for all locations?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-two-link5" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Yes, different working hours or support window can be configured in our SLA section and our application shall be able to calculate the SLA. </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link5" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right"> You have in-build approval work flow for changes and service request? <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-two-link6" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Yes, we mail approval workflow over the emails, which can be configured for both Service Request and Changes. </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link5" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">  Can i configure the escalations?   <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-two-link7" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p> Yes, You can create the escalation matrix and notify them over email. </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link5" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Can i use our own SMS gateway? <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-two-link8" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p> Yes, we can provide integration services to use your SMS gateway.  </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link5" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right"> Can i create service request templates for easy access? <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-two-link9" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p> Yes you can create unlimited service request templates.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                </div>
                <!-- end accordion -->
            </div>
        </div>
    </div>
</section>

<section style="margin:-65px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h6 class="text-uppercase alt-font text-extra-dark-gray font-weight-600 margin-four-bottom">Enterprise Service Desk</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- start accordion -->
                <div class="panel-group accordion-style1" id="accordion-one">
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-three-link1" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">How is the licensing for IT Assets?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-three-link1" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Licensing is based upon total no. of Windows based Laptop/desktop and Peripherals. </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-three-link2" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">  Can i manage the Non-IT Assets also?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-three-link2" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p> Yes, you can manage the life-cycle of Non-IT assets. </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-three-link3" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Can you application auto-discover the PCs ?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-three-link3" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p> Once our agent is installed, application shall be able to discover the device over LAN and Internet.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-three-link4" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">What is size of agent ?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-three-link4" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p> Size of agent is less than 1 MB.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-three-link5" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Can i install the agent remotely?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-three-link5" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>You can use AD or any third-party software distribution software to roll-out agents in PCs. </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-three-link6" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right"> What is the data size it stores in local PCs?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-three-link6" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p> Unlike other products, which stores huge data (sometimes in GBs) in local PC. Our agent is installed as service and don't store any data in local PC.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-three-link7" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right"> How do you ensure that your agents are not stopped working and stop communication with application server?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-three-link7" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Our agent is installed as service (Not as application), hence it is less prone to conflict with other application such as Anti-virus, which is the major cause for stopping the agent. </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-three-link8" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">What all SW/HW information it can discover?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-three-link8" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p> Our application can discover the Hardware information such as make, model, serial no, hdd, RAM. It also discover the running processes, services, drivers, installed applications, application version, installed date etc. </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-three-link9" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">What all i can check in software compliance?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-three-link9" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p> You can check the total list of software which are installed across your organisation. You can define which software is white-listed or black-listed and in which PCs black-listed software are running. You can also do licenses management such as how many licenses are purchased, allocated and available. </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-three-link10" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Can i also manage the consumables?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-three-link10" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Yes, you can manage the inventory of consumables (battery, Keyboard, Mouse etc..) and allocate them to users </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-three-link11" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Can i check how many tickets have been logged on asset?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-three-link11" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Yes, each asset shall have record of previous incidents. </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-three-link12" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right"> How can i imports the asset details in application?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-three-link12" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Yes, you can import the asset details from excel file in our pre-defined format. </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-three-link13" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">I have different stores across different locations, can i manage the inventory in store?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-three-link13" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Yes, you can manage the inventory in different stores and manage allocation/de-allocation. </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-three-link14" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Can i manage the asset movement in your application?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-three-link14" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Yes, you can keep record of asset movement between locations, stores etc.. we also have gate pass feature with approval workflow.  </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-three-link15" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right"> Can i check the repair history of asset?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-three-link15" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Yes, You can check the history, how many times asset has been repaired and which vendor has repaired the asset. </p>
                            </div>
                        </div>
                    </div>
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-three-link16" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Can i keep record of audit logs for compliance purpose?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-three-link16" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Yes, our application keeps record of asset logs for compliance purpose. </p>
                            </div>
                        </div>
                    </div>
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-three-link17" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Can i upload asset related document for future reference?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-three-link17" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Yes, You can upload multiple documents for any asset. </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="wow fadeIn bg-light-gray" style="margin:-65px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h6 class="text-uppercase alt-font text-extra-dark-gray font-weight-600 margin-four-bottom">User Portal</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- start accordion -->
                <div class="panel-group accordion-style1" id="accordion-two">
                    <!-- accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-four-link1" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right"> What can be done from user portal?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-four-link1" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>User can do below in user portal</p>
                                <ul>Log ticket</ul>
                                <ul>Raise Service Request</ul>
                                <ul>Provide Feedback</ul>
                                <ul>Escalate issue</ul>
                                <ul>Search in Knowledge Base</ul>
                                <ul>Talk to BOT</ul>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-four-link2" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right"> Do i need to by any licenses to use user portal?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-four-link2" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>No licensing is required to use user portal. </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                </div>
            </div>
        </div>
    </div>
</section>

<section style="margin:-65px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h6 class="text-uppercase alt-font text-extra-dark-gray font-weight-600 margin-four-bottom">Enterprise Service Desk</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- start accordion -->
                <div class="panel-group accordion-style1" id="accordion-one">
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-five-link1" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">How can i add the data in Knowledge Base?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-five-link1" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Admin can add the articles in the knowledge base or technician can add the incident or problem in the knowledge base.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-five-link2" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Is there any approval mechanism for Knowledge Base before publishing the contents?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-five-link2" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Yes, you can define the category of knowledge base article and define the approver. whenever technician will add any article, it will be published post appropriate approval.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-five-link3" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Do you have any mechanism if i want to restrict the access of knowledge article?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-five-link3" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Yes, when you are creating the article, you can define who can access the article. You can define the access for all user or based on support department. </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                </div>
            </div>
        </div>
    </div>
</section>
