
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="title" content="ZServiceDesk - Enterprise Services Management | Asset Management | IT-GRC" />
    <meta name="description" content="ZServiceDesk is fastest growing enterprise IT Services management, IT & Non-IT Asset Management & Most affordable IT-GRC platform." />
    <meta name="keywords" content="Best Help Desk Software, Best Ticketing Tool, Best Incident Management software, ITIL software, ITIL Framework, Chatbot, Service Desk Software, ITSM Software, ITSM Application, IT Services Management Application, Problem & Change Management Software, Service Desk Software in India, IT Asset Management, Non-IT Asset Management, User Self Service, Software Discovery, Hardware Information Discovery, Software Compliances, Software License Management, Vendor Management, Governance Risk & Compliance, Policy Management, Vendor Risk Assessment, GRC Tool India, GRC application, " />
    <meta name="viewport" content="width=device-width,intial-scale=1.0" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150382923-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-150382923-1');
    </script>
</head>

<section class="wow fadeIn example no-padding no-transition">
    <article class="content">
        <div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
            <!-- start revolution slider 5.4.1 fullwidth mode -->
            <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
                <ul>
                    <!-- slide  -->
                    <li data-index="rs-3045" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="200">
                        <div class="opacity-extra-medium bg-black position-relative z-index-1"></div>
                        <!-- main image -->
                        <img src="~/images/Index/enterprise slider.jpg" alt="Ocean" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" class="rev-slidebg">
                        <!-- layer nr. 3 -->
                        <div class="tp-caption NotGeneric-Title tp-resizeme"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-115','-110','-90','-90']"
                             data-fontsize="['12','12','12','12']"
                             data-lineheight="['20','20','20','20']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="['nowrap','nowrap','nowrap','normal']"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":300,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                             data-textAlign="['center','center','center','center']"
                             data-paddingtop="[10,10,10,10]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[10,10,10,10]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 7; white-space: nowrap; text-transform: uppercase; font-family:'Montserrat', sans-serif !important; font-weight: 500; letter-spacing:2px;">Orchestrate Your IT Support</div>
                        <!-- layer nr. 4 -->
                        <div class="tp-caption NotGeneric-SubTitle tp-resizeme "
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                             data-fontsize="['70','70','60','50']"
                             data-lineheight="['75','75','60','60']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="['nowrap','nowrap','nowrap','normal']"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":600,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                             data-textAlign="['center','center','center','center']"
                             data-paddingtop="[10,10,10,10]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[10,10,10,10]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 8; white-space: nowrap; font-family:'Montserrat', sans-serif !important; font-weight: 600; letter-spacing: -1px;">IT Services Management <br>Designed for Enterprises</div>

                        <!-- layer nr. 5 -->
                        <a href="~/Content/Refrences/zservicedesk_datasheet.pdf" target="_blank" class="tp-caption btn btn-transparent-white btn-medium border-radius-4 z-index-5"
                           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                           data-y="['middle','middle','middle','middle']" data-voffset="['130','130','110','110']"
                           data-fontsize="['12','14','14','14']"
                           data-whitespace="['nowrap','nowrap','nowrap','normal']"
                           data-visibility="['on', 'on', 'on', 'on']"
                           data-type="text"
                           data-color="['#FFFFFF']"
                           data-responsive_offset="on"
                           data-responsive="on"
                           data-frames='[{"from":"y:150px;opacity:0;","speed":1500,"to":"o:1;","delay":900,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                           data-textAlign="['inherit', 'inherit', 'right', 'center']"
                           data-paddingtop="[6,6,6,6]"
                           data-paddingright="[26,26,26,26]"
                           data-paddingbottom="[6,6,6,6]"
                           data-paddingleft="[26,26,26,26]"
                           data-basealign="slide">Technical Datasheet</a>
                        <!-- LAYER NR. 6 -->
                    </li>
                    <!-- slide  -->
                    <li data-index="rs-2" data-transition="fade" data-slotamount="3" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="500">
                        <div class="opacity-extra-medium bg-black position-relative z-index-1"></div>
                        <!-- main image -->
                        <img src="~/images/Index/grc slider.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" class="rev-slidebg" data-no-retina>
                        <!-- layer nr. 3 -->
                        <div class="tp-caption NotGeneric-Title tp-resizeme"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-115','-110','-90','-90']"
                             data-fontsize="['12','12','12','12']"
                             data-lineheight="['20','20','20','20']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="['nowrap','nowrap','nowrap','normal']"
                             data-visibility="['on', 'on', 'on', 'on']"
                             data-type="text"
                             data-color="['#FFF']"
                             data-responsive_offset="on"
                             data-responsive="on"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":300,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                             data-textAlign="['inherit', 'inherit', 'right', 'center']"
                             data-paddingtop="[10,10,10,10]"
                             data-paddingright="[30,30,30,30]"
                             data-paddingbottom="[10,10,10,10]"
                             data-paddingleft="[30,30,30,30]"
                             data-basealign="slide"
                             style="z-index: 7; white-space: nowrap; text-transform: uppercase; font-family:'Montserrat', sans-serif !important; font-weight: 500; letter-spacing:2px;">Get it Centralized, Get it right.</div>

                        <!-- layer nr. 4 -->
                        <div class="tp-caption NotGeneric-SubTitle tp-resizeme "
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                             data-fontsize="['70','70','60','50']"
                             data-lineheight="['75','75','60','60']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="['nowrap','nowrap','nowrap','normal']"
                             data-visibility="['on', 'on', 'on', 'on']"
                             data-type="button"
                             data-color="['#FFF']"
                             data-responsive_offset="on"
                             data-responsive="on"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":600,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                             data-textAlign="['center', 'center', 'center', 'center']"
                             data-paddingtop="[10,10,10,10]"
                             data-paddingright="[30,30,30,30]"
                             data-paddingbottom="[10,10,10,10]"
                             data-paddingleft="[30,30,30,30]"
                             data-basealign="slide"
                             style="z-index: 8; white-space: nowrap; font-family:'Montserrat', sans-serif !important; font-weight: 600; letter-spacing: -1px;">Most Comprehensive &<br> Robust Asset Management</div>
                        <!-- layer nr. 5 -->
                        <a href="~/Content/Refrences/zservicedesk_datasheet.pdf" target="_blank" class="tp-caption btn btn-transparent-white btn-medium border-radius-4 z-index-5"
                           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                           data-y="['middle','middle','middle','middle']" data-voffset="['130','130','110','110']"
                           data-fontsize="['12','14','14','14']"
                           data-whitespace="['nowrap','nowrap','nowrap','normal']"
                           data-visibility="['on', 'on', 'on', 'on']"
                           data-type="text"
                           data-color="['#FFFFFF']"
                           data-responsive_offset="on"
                           data-responsive="on"
                           data-frames='[{"from":"y:150px;opacity:0;","speed":1500,"to":"o:1;","delay":900,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                           data-textAlign="['inherit', 'inherit', 'right', 'center']"
                           data-paddingtop="[6,6,6,6]"
                           data-paddingright="[26,26,26,26]"
                           data-paddingbottom="[6,6,6,6]"
                           data-paddingleft="[26,26,26,26]"
                           data-basealign="slide">Technical Datasheet</a>
                        <!-- layer nr. 6 -->
                    </li>
                    <li data-index="rs-3" data-transition="fade" data-slotamount="3" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="500">
                        <div class="opacity-extra-medium bg-black position-relative z-index-1"></div>
                        <!-- main image -->
                        <img src="~/images/Index/asset slider.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" class="rev-slidebg" data-no-retina>
                        <!-- layer nr. 3 -->
                        <div class="tp-caption NotGeneric-Title tp-resizeme"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-115','-110','-90','-90']"
                             data-fontsize="['12','12','12','12']"
                             data-lineheight="['20','20','20','20']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="['nowrap','nowrap','nowrap','normal']"
                             data-visibility="['on', 'on', 'on', 'on']"
                             data-type="text"
                             data-color="['#FFF']"
                             data-responsive_offset="on"
                             data-responsive="on"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":300,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                             data-textAlign="['inherit', 'inherit', 'right', 'center']"
                             data-paddingtop="[10,10,10,10]"
                             data-paddingright="[30,30,30,30]"
                             data-paddingbottom="[10,10,10,10]"
                             data-paddingleft="[30,30,30,30]"
                             data-basealign="slide"
                             style="z-index: 7; white-space: nowrap; text-transform: uppercase; font-family:'Montserrat', sans-serif !important; font-weight: 500; letter-spacing:2px;">IT Security Strategy</div>

                        <!-- layer nr. 4 -->
                        <div class="tp-caption NotGeneric-SubTitle tp-resizeme "
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                             data-fontsize="['70','70','60','50']"
                             data-lineheight="['75','75','60','60']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="['nowrap','nowrap','nowrap','normal']"
                             data-visibility="['on', 'on', 'on', 'on']"
                             data-type="button"
                             data-color="['#FFF']"
                             data-responsive_offset="on"
                             data-responsive="on"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":600,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                             data-textAlign="['center', 'center', 'center', 'center']"
                             data-paddingtop="[10,10,10,10]"
                             data-paddingright="[30,30,30,30]"
                             data-paddingbottom="[10,10,10,10]"
                             data-paddingleft="[30,30,30,30]"
                             data-basealign="slide"
                             style="z-index: 8; white-space: nowrap; font-family:'Montserrat', sans-serif !important; font-weight: 600; letter-spacing: -1px;">Affordable Governance, Risk &<br> Compliances Platform</div>

                        <!-- layer nr. 5 -->
                        <!-- layer nr. 5 -->
                        <a href="~/Content/Refrences/GRC Brochure.pdf" target="_blank" class="tp-caption btn btn-transparent-white btn-medium border-radius-4 z-index-5"
                           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                           data-y="['middle','middle','middle','middle']" data-voffset="['130','130','110','110']"
                           data-fontsize="['12','14','14','14']"
                           data-whitespace="['nowrap','nowrap','nowrap','normal']"
                           data-visibility="['on', 'on', 'on', 'on']"
                           data-type="text"
                           data-color="['#FFFFFF']"
                           data-responsive_offset="on"
                           data-responsive="on"
                           data-frames='[{"from":"y:150px;opacity:0;","speed":1500,"to":"o:1;","delay":900,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                           data-textAlign="['inherit', 'inherit', 'right', 'center']"
                           data-paddingtop="[6,6,6,6]"
                           data-paddingright="[26,26,26,26]"
                           data-paddingbottom="[6,6,6,6]"
                           data-paddingleft="[26,26,26,26]"
                           data-basealign="slide">Technical Datasheet</a>
                        <!-- layer nr. 6 -->
                    </li>
                </ul>
            </div>
        </div>
        <!-- end revolution slider -->
    </article>
</section>

<section class="wow fadeIn cover-background md-no-background-img bg-medium-light-gray" style="background-image: url('/images/Index/homepage-option17-banner-bg.jpg'); visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-6 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <div class="row m-0">
                    <div class="col-12 text-center text-lg-left sm-no-padding-lr last-paragraph-no-margin margin-60px-bottom md-margin-30px-bottom">
                        <span class="text-medium text-deep-pink alt-font margin-10px-bottom d-inline-block">Innovation & Automation is our Key</span>
                        <h5 class="alt-font text-extra-dark-gray font-weight-600">Beautifully Handcrafted to meet business requirements</h5>
                        <p class="width-90 md-width-100">Our products are built based on global standards which can meet the complex requirements of any size of business organizations. Our talent pool consistently focus on innovations & automations to ease the management of all IT related functions.</p>
                    </div>
                    <!-- star feature box item -->
                    <div class="col-12 col-md-6 sm-margin-30px-bottom last-paragraph-no-margin sm-no-padding-lr text-center text-lg-left">
                        <i class="icon-tools text-deep-pink icon-extra-medium margin-20px-bottom md-margin-15px-bottom"></i>
                        <div class="feature-content">
                            <div class="alt-font font-weight-600 text-extra-dark-gray margin-5px-bottom">ITSM & ITAM</div>
                            <p class="width-80 lg-width-90 md-width-100">
                                Manage your support related functions and assets intelligently with our enterprise grade platform.
                            </p>
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- star feature box item -->
                    <div class="col-12 col-md-6 last-paragraph-no-margin sm-no-padding-lr text-center text-lg-left">
                        <i class="icon-layers text-deep-pink icon-extra-medium margin-20px-bottom md-margin-15px-bottom"></i>
                        <div class="feature-content">
                            <div class="alt-font font-weight-600 text-extra-dark-gray margin-5px-bottom">IT GRC</div>
                            <p class="width-80 lg-width-90 md-width-100">An authomated framework to manage your IT securtiy related assessements and other tasks</p>
                        </div>
                    </div>
                    <!-- end feature box item -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn; margin-top:-39px;">
    <div class="container" style="height:10px;">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 margin-eight-bottom text-center last-paragraph-no-margin">
                <h5 class="alt-font text-extra-dark-gray font-weight-600">Desined To Meet Enterprise Class Scalability And Performance Requirements</h5>
                @*<p class="width-80 d-inline-block sm-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>*@
            </div>
        </div>
    </div>
</section>

<section class="p-0 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
    <div class="container-fluid">
        <div class="row">
            <!-- start features item -->
            <div class="col-12 col-lg-3 p-0 cover-background position-relative md-height-500px sm-height-300px wow fadeIn" style="background: url('/images/Index/empower.jpg') transparent; visibility: visible; animation-name: fadeIn;"></div>
            <!-- end features item -->
            <!-- start features item -->
            <div class="col-12 col-lg-3 p-0 d-flex align-items-center position-relative bg-extra-dark-gray text-center text-lg-left wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                <div class="padding-fifteen-all lg-padding-ten-all sm-padding-30px-all width-100">
                    <div class="alt-font text-medium-gray margin-10px-bottom">Based on ITIL Framework</div>
                    <div class="alt-font text-extra-large margin-20px-bottom text-white-2 width-90 lg-width-100 sm-margin-15px-bottom">Empower your IT with Robust Services & Asset Management</div>
                    <p>Deliver human like support with our intelligent AI & ML based virual assistants. Our product helps Enterprises to setup a centralized support system to provide support for their customers & internal business users and manage all assets in centralized console.</p>
                    <a href="~/Content/Refrences/zservicedesk_datasheet.pdf" target="_blank" class="btn btn-transparent-white btn-small border-radius-4"><i class=" icon-very-small margin-5px-right ml-0" aria-hidden="true"></i>Datasheet</a>
                </div>
            </div>
            <!-- end features item -->
            <!-- start features item -->
            <div class="col-12 col-lg-3 p-0 cover-background position-relative md-height-500px sm-height-300px wow fadeIn" data-wow-delay="0.4s" style="background: url('/images/Index/build1.jpg') transparent; visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;"></div>
            <!-- end features item -->
            <!-- start features item -->
            <div class="col-12 col-lg-3 p-0 d-flex align-items-center position-relative bg-extra-dark-gray text-center text-lg-left wow fadeIn" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;">
                <div class="padding-fifteen-all lg-padding-ten-all sm-padding-30px-all width-100">
                    <div class="alt-font text-medium-gray margin-10px-bottom">Based on NIST Framework</div>
                    <div class="alt-font text-extra-large margin-20px-bottom text-white-2 width-90 lg-width-100 sm-margin-15px-bottom">Cyberspaces and Risk Management Platform</div>
                    <p>Define strategy of IT GRC and overall approach to identify & estimate Cyber Risk for Enterprise Risk Management to meet Compliances & Regulatory Standards. It helps to bring the information out of various containers into one collaborative environment.</p>
                    <a href="~/Content/Refrences/GRC Brochure v1.0.pdf" target="_blank" class="btn btn-transparent-white btn-small border-radius-4"><i class="fas fa-icon-file-text margin-5px-right ml-0" aria-hidden="true"></i>Datasheet</a>
                </div>
            </div>
            <!-- end features item -->
        </div>
    </div>
</section>

<section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn; margin-top:-79px;">
    <div class="container">
        <div class="row">
            <div class="col-12 justify-content-center text-center p-0 tab-style1" id="animated-tab">
                <!-- start tab navigation -->
                <ul class="nav nav-tabs margin-50px-bottom sm-no-margin-bottom" style="margin-top:42px;">
                    <li class="nav-item"><a href="#tab6_sec1" data-toggle="tab" class="nav-link active"><span><i class="icon-layers icon-medium text-medium-gray margin-10px-bottom d-block"></i></span><span class="alt-font text-medium-gray text-uppercase text-small">01. Modern Design</span></a></li>
                    <li class="nav-item"><a href="#tab6_sec2" data-toggle="tab" class="nav-link"><span><i class="icon-linegraph icon-medium text-medium-gray margin-10px-bottom d-block"></i></span><span class="alt-font text-medium-gray text-uppercase text-small">02. Flexible Integration</span></a></li>
                    <li class="nav-item"><a href="#tab6_sec3" data-toggle="tab" class="nav-link"><span><i class="icon-bargraph icon-medium text-medium-gray margin-10px-bottom d-block"></i></span><span class="alt-font text-medium-gray text-uppercase text-small">03. High performance</span></a></li>
                    <li class="nav-item"><a href="#tab6_sec4" data-toggle="tab" class="nav-link"><span><i class="icon-tools-2  icon-medium text-medium-gray margin-10px-bottom d-block"></i></span><span class="alt-font text-medium-gray text-uppercase text-small">04. Faster Deployment</span></a></li>
                </ul>
                <!-- end tab navigation -->
                <div class="tab-content">
                    <!-- start tab content -->
                    <div id="tab6_sec1" class="tab-pane fade in active show">
                        <div class="row mx-0">
                            <div class="col-12 col-lg-4 text-left md-margin-30px-bottom">
                                <img src="~/images/Index/discussion.jpg" alt="" data-no-retina="">
                            </div>
                            <div class="col-12 col-lg-4 text-left md-margin-30px-bottom">
                                <div class="d-flex flex-column justify-content-center padding-45px-all md-padding-30px-all h-100 w-100 border-all border-width-2 border-color-extra-light-gray">
                                    <span class="text-medium font-weight-600 alt-font text-uppercase margin-10px-bottom d-block text-extra-dark-gray">01. Modern Design</span>
                                    <span class="alt-font text-medium-gray text-medium">Developed with Modern User Interface design to provide ease of access and amazing experience.</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 text-left">
                                <div class="d-flex flex-column justify-content-center align-items-start padding-45px-all md-padding-30px-all h-100 w-100 bg-light-gray">
                                    <span class="text-extra-dark-gray alt-font margin-10px-bottom d-inline-block text-medium">Extremely Simple to use</span>
                                    <p class="width-100">Easy to navigate and structured design delivers the comfort of using the application features without specialized training.</p>
                                    @*<a href="about-us-classic.html" class="btn btn-dark-gray btn-very-small text-extra-small">About Company</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->
                    <!-- start tab content -->
                    <div id="tab6_sec2" class="mx-auto tab-pane fade in">
                        <div class="row mx-0">
                            <div class="col-12 col-lg-4 text-left md-margin-30px-bottom">
                                <img src="~/images/Index/discussion3.jpg" alt="" data-no-retina="">
                            </div>
                            <div class="col-12 col-lg-4 text-left md-margin-30px-bottom">
                                <div class="d-flex flex-column justify-content-center padding-45px-all md-padding-30px-all h-100 w-100 border-all border-width-2 border-color-extra-light-gray">
                                    <span class="text-medium font-weight-600 alt-font text-uppercase margin-10px-bottom d-block text-extra-dark-gray">02. Flexible Integration</span>
                                    <span class="alt-font text-medium-gray text-medium">With more than 375+ REST APIs, Our application provides highest degree of flexibility to integrate third-party applications.</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 text-left">
                                <div class="d-flex flex-column justify-content-center align-items-start padding-45px-all md-padding-30px-all h-100 w-100 bg-light-gray">
                                    <span class="text-extra-dark-gray alt-font margin-10px-bottom d-inline-block text-medium">Best in Class Integration Services</span>
                                    <p class="width-100">Provides one-way or two-way integrations acros all your business applications for centralized management and avoid duplicacy of data within your organization.</p>
                                    @*<a href="about-us-classic.html" class="btn btn-dark-gray btn-very-small text-extra-small">About Company</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->
                    <!-- start tab content -->
                    <div id="tab6_sec3" class="mx-auto tab-pane fade in">
                        <div class="row mx-0">
                            <div class="col-12 col-lg-4 text-left md-margin-30px-bottom">
                                <img src="~/images/Index/high.jpg" alt="" data-no-retina="">
                            </div>
                            <div class="col-12 col-lg-4 text-left md-margin-30px-bottom">
                                <div class="d-flex flex-column justify-content-center padding-45px-all md-padding-30px-all h-100 w-100 border-all border-width-2 border-color-extra-light-gray">
                                    <span class="text-medium font-weight-600 alt-font text-uppercase margin-10px-bottom d-block text-extra-dark-gray">03. Lightning Fast</span>
                                    <span class="alt-font text-medium-gray text-medium">Our unique API based architecture provides the speed to fetch thousands of records in seconds.</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 text-left">
                                <div class="d-flex flex-column justify-content-center align-items-start padding-45px-all md-padding-30px-all h-100 w-100 bg-light-gray">
                                    <span class="text-extra-dark-gray alt-font margin-10px-bottom d-inline-block text-medium">We are there for you as you grow. </span>
                                    <p class="width-100">Provides high & consistent performance, with multi-fold increased business data and meet scalability requirements.</p>
                                    @*<a href="about-us-classic.html" class="btn btn-dark-gray btn-very-small text-extra-small">About Company</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->
                    <!-- start tab content -->
                    <div id="tab6_sec4" class="mx-auto tab-pane fade in">
                        <div class="row mx-0">
                            <div class="col-12 col-lg-4 text-left md-margin-30px-bottom">
                                <img src="~/images/Index/faster.JPG" alt="" data-no-retina="">
                            </div>
                            <div class="col-12 col-lg-4 text-left md-margin-30px-bottom">
                                <div class="d-flex flex-column justify-content-center padding-45px-all md-padding-30px-all h-100 w-100 border-all border-width-2 border-color-extra-light-gray">
                                    <span class="text-medium font-weight-600 alt-font text-uppercase margin-10px-bottom d-block text-extra-dark-gray">04. Faster Deployment</span>
                                    <span class="alt-font text-medium-gray text-medium">Ready to use comprehensive workflows helps customers to start using in less time.</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 text-left">
                                <div class="d-flex flex-column justify-content-center align-items-start padding-45px-all md-padding-30px-all h-100 w-100 bg-light-gray">
                                    <span class="text-extra-dark-gray alt-font margin-10px-bottom d-inline-block text-medium">Implementation by our experts</span>
                                    <p class="width-100">Our team is geared up to understand your business workflows and get the configurations ready to quick start.</p>
                                    @*<a href="about-us-classic.html" class="btn btn-dark-gray btn-very-small text-extra-small">About Company</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->
                </div>
                <!-- end tab content section -->
            </div>
            <!-- end tab -->
        </div>
    </div>
</section>

<section class="p-0 wow fadeIn bg-extra-dark-gray" style="visibility: visible; animation-name: fadeIn;margin-top:-38px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center md-height-500px sm-height-350px cover-background wow fadeInLeft" style="background-image: url('/images/ASSETMANAGEMENT/design.jpg'); visibility: visible; animation-name: fadeInLeft;">
                <div class="opacity-extra-medium bg-extra-dark-gray"></div>
                <div class="position-relative bg-deep-pink w-50 text-center text-white-2 padding-ten-all z-index-5 lg-width-70 sm-width-85 sm-padding-twelve-tb sm-padding-five-lr">
                    <span class="special-char-medium text-white-2 absolute-middle-center top-0 fas fa-quote-left"></span>
                    <h6 class="font-weight-300 mb-0">Unique Architecture that delivers most flexible integration and lightning fast performance to any size of businesses.</h6>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center text-center text-lg-left wow fadeInRight last-paragraph-no-margin" style="visibility: visible; animation-name: fadeInRight;">
                <div class="padding-fifteen-all lg-padding-ten-all md-padding-90px-all sm-no-padding-lr sm-padding-40px-tb width-100">
                    <span class="text-medium margin-10px-bottom d-block alt-font">Innovations at work</span>
                    <h4 class="alt-font text-light-gray">A digital studio crafting beautiful experiences.</h4>
                    <p class="text-extra-large width-85 lg-width-100">We are creating the awesomeness to make sure you are delivering faster support than ever and get competitive edge.</p>
                    <ul class="mt-4">
                        <li>
                            Web-Based Application
                        </li>
                        <li>
                            Integrated AI BOT Assistant
                        </li>
                        <li>
                            Cloud / On-Premise Deployment
                        </li>
                        <li>
                            Annual Subscription / Perpetual
                        </li>
                        <li>
                            Most Flexible Integrations with 375+ APIs
                        </li>
                        <li>
                            Modern User Interface
                        </li>
                        <li>
                            Easy of Use
                        </li>
                        <li>
                            Faster Deployment
                        </li>
                        <li>
                            Mobile Application
                        </li>
                        <li>On-Demand Customization</li>
                    </ul>
                    <a href="/Home/Enterprise_Service_Desk" class="btn btn-small margin-35px-top btn-white" style="margin-top:10px;">Know More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light-gray border-none p-0 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6 padding-seven-lr padding-six-half-tb lg-padding-five-tb lg-padding-six-lr md-padding-six-all sm-padding-50px-tb sm-padding-15px-lr wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <h5 class="alt-font text-extra-dark-gray text-center text-lg-left margin-eight-bottom md-margin-40px-bottom sm-margin-30px-bottom font-weight-600">
                    <span class="font-weight-300 d-block sm-margin-15px-bottom">Start your transformation journey.</span>Lets get started today
                </h5>
                <!-- start accordion -->
                <div class="panel-group accordion-style2" id="accordion-main">
                    <!-- start tab content -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-main" href="#collapseOne" aria-expanded="false">
                                <div class="panel-title">
                                    <span class="alt-font font-weight-600 text-deep-pink tab-tag">01</span>
                                    <span class="text-extra-dark-gray sm-width-80 d-inline-block">Higher Visibility into IT Operations</span>
                                    <i class="fas float-right text-extra-dark-gray fa-angle-down"></i>
                                </div>
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" data-parent="#accordion-main" style="">
                            <div class="panel-body">Custom Dashboards and Reports helps IT Stakeholders to have deeper view of what is happening on the ground and provides all the relevant information in just few clicks. </div>
                        </div>
                    </div>
                    <!-- end tab content -->
                    <!-- start tab content -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-main" href="#collapseTwo" aria-expanded="false">
                                <div class="panel-title">
                                    <span class="alt-font font-weight-600 text-deep-pink tab-tag">02</span>
                                    <span class="text-extra-dark-gray sm-width-80 d-inline-block">Higher Business Uptime</span>
                                    <i class="indicator fas fa-angle-down float-right text-extra-dark-gray "></i>
                                </div>
                            </a>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" data-parent="#accordion-main">
                            <div class="panel-body">Our comprehensive workflows and knowledgebase helps technicians to resolve the issues in a faster manner.</div>
                        </div>
                    </div>
                    <!-- end tab content -->
                    <!-- start tab content -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-main" href="#collapseThree" aria-expanded="false">
                                <div class="panel-title">
                                    <span class="alt-font font-weight-600 text-deep-pink tab-tag">03</span>
                                    <span class="text-extra-dark-gray sm-width-80 d-inline-block">Improved User Satisfaction</span>
                                    <i class="indicator fas fa-angle-down float-right text-extra-dark-gray "></i>
                                </div>
                            </a>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" data-parent="#accordion-main">
                            <div class="panel-body">Business users can use various automation techniques to get necessary technical support on 24x7 basis.</div>
                        </div>
                    </div>
                    <!-- end tab content -->
                    <!-- start tab content -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-main" href="#collapseFour" aria-expanded="false">
                                <div class="panel-title">
                                    <span class="alt-font font-weight-600 text-deep-pink tab-tag">04</span>
                                    <span class="text-extra-dark-gray sm-width-80 d-inline-block">Reduced Operations Cost</span>
                                    <i class="indicator fas fa-angle-down float-right text-extra-dark-gray "></i>
                                </div>
                            </a>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" data-parent="#accordion-main">
                            <div class="panel-body">ZServiceDesk helps to eliminate the manual processes and provides efficient way or managing the IT Services.</div>
                        </div>
                    </div>
                    <!-- end tab content -->
                </div>
                <!-- end accordion -->
            </div>
            <div class="col-12 col-lg-6 cover-background md-height-500px sm-height-350px wow fadeInRight" style="background: url('/images/Index/26.jpg'); visibility: visible; animation-name: fadeInRight;"></div>
        </div>
    </div>
</section>

<section class="parallax" data-stellar-background-ratio="0" style="background-image: url('/images/Index/parallax-bg6.jpg'); background-position: 0px 0px;">
    <div class="opacity-full bg-extra-dark-gray"></div>
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-9 col-lg-10 text-center wow fadeIn last-paragraph-no-margin" style="visibility: visible; animation-name: fadeIn;">
                <a class="popup-youtube" href="https://www.youtube.com/watch?v=nrJtHemSPW4"><img src="images/icon-play-white.png" class="width-10 sm-width-50px margin-30px-bottom" alt="" data-no-retina=""></a>
                <h4 class="alt-font text-white-2">On-Demand Customization services to orchestrate support function the way you want.</h4>
                <p class="width-75 mx-auto text-medium-gray lg-width-90 sm-width-100 sm-margin-30px-bottom">
                    Every organization has it's own way to manage the internal IT support functions and leverage the in-built capabilities of ITSM & ITAM platform. However sometimes organizations have different service structures the way they deliver services. We do offer major customisation services on top of our product to address and fulfil more complex and custom requirements.
                </p>
                @*<a href="about-us-simple.html" class="btn btn-white btn-small text-extra-small border-radius-4 margin-45px-top sm-no-margin-top"><i class="fas fa-play-circle icon-very-small margin-5px-right ml-0" aria-hidden="true"></i> About Company</a>*@
            </div>
        </div>
    </div>
</section>

<section class="wow fadeIn padding-60px-tb md-padding-40px-tb bg-deep-pink" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 position-relative text-center">
                <span class="text-extra-large text-white-2 alt-font d-inline-block margin-5px-top margin-30px-right sm-no-margin-right sm-no-margin-top sm-margin-15px-bottom sm-width-100">Let us write transformation stories. Let us work together</span>
                <a href="~/Home/Partner_With_Us" target="_blank" class="btn btn-white btn-medium align-top sm-no-margin-right btn-rounded">Partner With Us</a>
            </div>
        </div>
    </div>
</section>

<style>
    .btn.btn-transparent-white {
        background: transparent;
        border-color: #ffffff !important;
        color: #ffffff !important;
    }
</style>