
@{
    ViewBag.Title = "Terms_of_Licence";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150382923-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-150382923-1');
    </script>

</head>

<section class="wow fadeIn cover-background background-position-top top-space" style="background-image: url(&quot;/images/Contact/download.jpg&quot;); margin-top: 88px; visibility: visible; animation-name: fadeIn;">
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 page-title-large d-flex flex-column justify-content-center align-items-center text-center padding-30px-tb">
                <h1 class="alt-font text-white-2 font-weight-600 mb-0">Terms Of Licence</h1>
            </div>
        </div>
    </div>
</section>

<div class="container" style="margin-top:40px;">
    <div class="row">
        <div class="col-12">
            <h6 class="text-uppercase alt-font text-extra-dark-gray font-weight-600 margin-three-bottom">ACCEPTABLE USE POLICY</h6>
            <ul>
                <li>Please read this agreement carefully. By Copying, Installing or using all or any portion of ZServiceDesk software, you (hereinafter “Licensee” as defined below) accept all the terms & conditions of this agreement. By installing, copying, or otherwise using the software, you agree to be bound by the terms. If you do not agree to the terms of this SLA, do not install, use, distribute in any manner, or replicate in any manner, any part, file or portion of the software.</li>
                <li>ZServiceDesk, is the licensor of the software under this license agreement and is the owner of software and of copyright and all other intellectual property rights related to the software.</li>
                <li>ZServiceDesk hereby grants you a subscription based, non-transferable, non-exclusive licence to use the ZServiceDesk software on your devices in accordance with the terms of this agreement.</li>
                <li>You are permitted to deploy the ZServiceDesk software under your control. You are responsible for ensuring your device meets the minimum requirement.</li>
                <li>ZServiceDesk’ s liability to licensee under any provisions of this agreement for damages finally awarded shall be limited to the amounts actually paid hereunder by licensee to ZServiceDesk. In no event shall ZServiceDesk liable for Indirect, Incidental, special, or consequential damages, including loss of use, loss of profits or interruption of business, however caused or on any theory of liability.</li>
                <li>The Licensee may sub-license the rights granted to any third party for the purposes of hosting the Software and supporting the Licensee's use of the Software in accordance with this Agreement only.</li>
                <li>The license granted by the Licensor to the Licensee is subject to the limitations regarding the number of licenses set out in License details particulars in this agreement.</li>
                <li>The Software may only be used by the officers and employees of the Licensee, and the officers and employees of the Licensee's agents, subcontractors, customers, clients, suppliers and service providers.</li>
                <li>
                    Save to the extent expressly permitted by this Agreement or required by applicable law on a non-excludable basis, any license granted under this shall be subject to the following prohibitions:
                    <br>a.The Licensee must not sell, resell, rent, lease, loan, supply, publish, distribute or redistribute the Software.
                    <br>b.The Licensee must not alter, edit or adapt the Software; and
                    <br>c.The Licensee must not decompile, de-obfuscate or reverse engineer, or attempt to decompile, de-obfuscate or reverse engineer, the Software.
                </li>
                <li>The Licensee shall be responsible for the security of copies of the Software supplied to the Licensee under this Agreement[ (or created from such copies) and shall use all reasonable endeavors (including all reasonable security measures) to ensure that access to such copies is restricted to persons authorized to use them under this Agreement.</li>
                <li>Any permitted copy of software (Including without agreement) that customer makes must contain the same copyright and other proprietary notices that appear on or in the software.</li>
                <li>Licensee agrees that it will not use the software other than as permitted by the agreement or in a manner inconsistent with it’s design or documentation.</li>
                <li>Licensee will not reverse engineer, decompile, disassemble, or otherwise attempt to discover the source code of software.</li>
            </ul>
            <h6 class="text-uppercase alt-font text-extra-dark-gray font-weight-600 margin-three-bottom">INTELLECTUAL PROPERTY OWNERSHIP</h6>
            <ul>
                <li>The Software and any authorized copies that customer makes are the intellectual property of and are owned by ZServiceDesk. The source code of the software are the valuable trade secrets and confidential information of ZServiceDesk. This agreement does not grant Licensee any intellectual property rights in the software.</li>
                <li>Nothing in this Agreement shall operate to assign or transfer any Intellectual Property Rights from the Licensor to the Licensee, or from the Licensee to the Licensor.</li>
                <li>All title and copyrights in and to the software (including but not limited to any images, demos, source code, intermediate files, packages, photographs, animations, video, audio, music, text, and "applets" incorporated into the software), the accompanying printed materials, and any copies of the software are owned by ZServiceDesk.</li>
            </ul>
            <h6 class="text-uppercase alt-font text-extra-dark-gray font-weight-600 margin-three-bottom">WARRANTIES</h6>
            <ul>
                <li>The Licensor warrants to the Licensee that it has the legal right and authority to enter into this Agreement and to perform its obligations under this Agreement.</li>
                <li>
                    The Licensor warrants to the Licensee that:
                    <br>a.The Software as provided will conform in all [material] respects with the Software Specification.
                    <br>b.The Software will be supplied free from Software Defects.
                    <br>c.The Software will be supplied free from viruses, worms, Trojan horses, ransomware, spyware, adware and other malicious software programs; and
                    <br>d.The Software shall incorporate security features reflecting the requirements of good industry practice.
                </li>
                <li>The Licensor warrants to the Licensee that the Software, when used by the Licensee in accordance with this Agreement, will not breach any laws, statutes or regulations.</li>
                <li>
                    If the Licensor reasonably determines, or any third party alleges, that the use of the Software by the Licensee in accordance with this Agreement infringes any person's Intellectual Property Rights, the Licensor may acting reasonably at its own cost and expense:
                    <br>a.Modify the Software in such a way that it no longer infringes the relevant Intellectual Property Rights, providing that any such modification must not introduce any Software Defects into the Software and must not result in the Software failing to conform with the Software Specification; or
                    <br>b.Procure for the Licensee the right to use the Software in accordance with this Agreement.
                </li>
                <li>The Licensee warrants to the Licensor that it has the legal right and authority to enter into this Agreement and to perform its obligations under this Agreement.</li>
                <li>All of the warranties and representations in respect of the subject matter of this Agreement are expressly set out in this Agreement. To the maximum extent permitted by applicable law, no other warranties or representations concerning the subject matter of this Agreement will be implied into this Agreement or any related contract.</li>
            </ul>
            <h6 class="text-uppercase alt-font text-extra-dark-gray font-weight-600 margin-three-bottom">ACKNOWLEDGEMENTS AND WARRANTY LIMITATIONS</h6>
            <ul>
                <li>The Licensee acknowledges that complex software is never wholly free from defects, errors and bugs; and subject to the other provisions of this Agreement, the Licensor gives no warranty or representation that the Software will be wholly free from defects, errors and bugs.</li>
                <li>The Licensee acknowledges that complex software is never entirely free from security vulnerabilities; and subject to the other provisions of this Agreement, the Licensor gives no warranty or representation that the Software will be entirely secure.</li>
                <li>The Licensee acknowledges that the Software is only designed to be compatible with that software specified as compatible in the Software Specification; and the Licensor does not warrant or represent that the Software will be compatible with any other software.</li>
                <li>The Licensee acknowledges that the Licensor will not provide any [legal, financial, accountancy or taxation advice] under this Agreement or in relation to the Software; and, except to the extent expressly provided otherwise in this Agreement, the Licensor does not warrant or represent that the Software or the use of the Software by the Licensee will not give rise to any legal liability on the part of the Licensee or any other person.</li>
            </ul>
            <h6 class="text-uppercase alt-font text-extra-dark-gray font-weight-600 margin-three-bottom">LIMITATIONS AND EXCLUSTIONS OF LIABILITY</h6>
            <ul>
                <li>The Licensor shall not be liable to the Licensee or the Licensee shall not be liable to the Licensor, in respect of any loss of profits or anticipated savings.</li>
                <li>The Licensor shall not be liable to the Licensee or the Licensee shall not be liable to the Licensor, in respect of any loss of revenue or income.</li>
                <li>The Licensor shall not be liable to the Licensee or the Licensee shall not be liable to the Licensor, in respect of any loss of use or production.</li>
                <li>The Licensor shall not be liable to the Licensee or the Licensee shall not be liable to the Licensor, in respect of any loss of business, contracts or opportunities.</li>
                <li>The Licensor shall not be liable to the Licensee or the Licensee shall not be liable to the Licensor, in respect of any loss or corruption of any data, database or software.</li>
                <li>The Licensor shall not be liable to the Licensee or the Licensee shall not be liable to the Licensor, in respect of any special, indirect or consequential loss or damage.</li>
            </ul>
            <h6 class="text-uppercase alt-font text-extra-dark-gray font-weight-600 margin-three-bottom">GENERAL</h6>
            <ul>
                <li>No breach of any provision of this Agreement shall be waived except with the express written consent of the party not in breach.</li>
                <li>If any provision of this Agreement is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions of this Agreement will continue in effect. If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect (unless that would contradict the clear intention of the parties, in which case the entirety of the relevant provision will be deemed to be deleted).</li>
                <li>Neither party may without the prior written consent of the other party assign, transfer, charge, license or otherwise deal in or dispose of any contractual rights or obligations under this Agreement.</li>
                <li>This Agreement is made for the benefit of the parties, and is not intended to benefit any third party or be enforceable by any third party. The rights of the parties to terminate, rescind, or agree any amendment, waiver, variation or settlement under or relating to this Agreement are not subject to the consent of any third party.</li>
            </ul>
        </div>
    </div>
</div>
